.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button-style {
  margin-left: 10px;
  border-radius: 0.25rem;
  width: 130px;
}

.input-style {
  width: 400px;
  border-radius: 0.25rem;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 50px;
}

.card {
  position: inherit !important;
  max-width: 200px !important;
}

.card-border {
  border-width: 10px;
}

.card-text {
  text-align: left;
  color: #282c34;
  text-decoration: none !important;
}

.expand:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:300px;
  height:auto;
  display:block;
  z-index:999;
}
